.formContainer{
    background-color: #a7bcff;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.formWraper{
    background-color: white;
    padding: 20px 60px;
    border-radius:10px ;
    display: flex;
    flex-direction: column;
    gap:10px;
    align-items: center;
}

.logo{
    color: #5d5b8d;
    font-weight: bold;
    font-size: 24px;
}

.title{
    color: #5d5b8d;
    font-size: 12px;
}

.formWraper form{
    display: flex;
    flex-direction: column;
    gap: 15px;

}

.formWraper form input{
    padding: 15px;
    border: none;
    border-bottom:1px solid #a7bcff;
}  :placeholder-shown{
    color: rgb(175, 175, 175);
}

.formWraper form button{
    background-color: #7b96ec;
    color: white;
    padding: 10px;
    font-weight: bold;
}

.formWraper p{
    color:#5d5b8d;
    font-size: 1vw;
    margin-top: 10px;
}

.home{
    background-color: #a7bcff;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container{
    border: 1px solid white;
    border-radius:10px;
    width: 65%;
    height: 80%;
    display: flex;
    overflow: hidden;
}

.sidebar{
    flex: 1;
    background-color: #3e3c61;

}

.navbar{
    display: flex;
    align-items: center;
    background-color: #2f2d52;
    height: 6vh;
    padding: 10px;
    justify-content: space-between;
    color: #ddddf7;
}

.navbar .logo{
    font-weight: bold;
}

.navbar .user{
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
}

.navbar img{
    background-color: #ddddf7;
    height:6vh;
    width: 2.5vw;
    border-radius: 50%;
    object-fit: cover;
}

.navbar .user button{
    background-color: #5d5b8d;
    color: #ddddf7;
    font-size: 1.1vw;
    border: none;    
    cursor: pointer;
    padding:5px;
    border-radius: 10px;
}

.search{
    /* border-bottom: 1px solid gray; */
}

.searchForm{
    padding: 10px;
}

.searchForm input{
    background-color: transparent;
    border: none;
    color: white;
    outline: none;
    
}

.userChat{
    padding: 10px;
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    color: white;
}

.userChat:hover{
    background-color: #2f2d52;

}

.userChat img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
}


.chat{
    flex: 2;

}
 
.chat .messages{
    background-color: #ddddf7;
    padding: 10px;
    height: 70%;
    overflow-y: scroll;
}

.input{
    height: 8%;
    background-color: white;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.input input{
    width: 100%;
    border: none;
    outline: none;
    color: #2f2d52;
    font-size: 18px;
}

.input input::placeholder{
    color: lightgray;
}

.send{
    display: flex;
    align-items: center;
    gap: 10px;
}

.send button{
    border: none;
    padding: 10px 15px;
    color: white;
    background-color: #8da4f1;
    cursor: pointer;
}

.userChatInfo{
    /* border: 1px solid; */
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 40px;
    padding-top: 10px;
}

.userChatInfo span{
font-size: 18px;
font-weight: bold;
line-height: 0.4;
}

.userChatInfo p{
    font-size: 14px;
    color: lightgray;    
    line-height: 0.4;
}

.chatInfo{
    height: 50px;
    background-color: #5d5b8d;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    color: lightgray;
}

.message{
    display: flex;
    gap:20px
}

.owner{
    flex-direction: row-reverse;


}

.owner .messageContent{
    align-items: flex-end;
}

.owner p{
   background-color: #8da4f1;
   color: black;
   border-radius: 10px 0px 10px 10px; 
   max-width: max-content;
}

.messageInfo{
    display: flex;
    flex-direction: column;
    color: gray;
    font-weight: 300;

}

.messageInfo img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
}

.messageContent{
    max-width: 80%;
    display: flex;
    flex-direction: column;
    gap: 10px;   
}

.messageContent p{
    background-color: white;
    padding: 10px 20px;
    border-radius: 0px 10px 10px 10px;
}

.messageContent img{
    width: 50%;
 
}